*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #0E351D ;
    --color2: white ;
    --color3: #03553D;
    --color4: #E9EAE8;
    font-family:"Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
  position:fixed;
  z-index: 100;
}
.logo {
  padding-top: 10px;
  img {width: 100px;}
}

h1 {
  color: var(--color3);
  text-align: center;
  margin: auto auto 50 auto;
  font-family:"Josefin Sans", sans-serif;
}
h2 {
  margin: auto auto 20 auto;
}
h3 {
  font-size: 1.5em;
  margin: 30px auto 10px auto;
  text-align: center;
}

a {
  color: var(--color1);
}

.underline-small{
  display:inline-block;
  position:relative;

}
.underline-small::after{
  content:'';
  height:2px;
  width:20%;
  background:var(--color3);
  position:absolute;
  left:calc(50% - 10%);
  bottom:-5px;
}

.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}


.chapter {
  min-height: 40vh;
  background-color: var(--color2);
}

#home {
  border: white 10px solid;
  background-image: url("./images/forest-logo.png");
  height: 100vh;
  background-size: cover;
  z-index: 200;
  img {
    display:none;
  }
}

@media(max-width: 610px){
  #home {
    background-image: url("./images/forest-small.jpeg");
    display:flex;
    img {
      display: inline-block;
      width: 70vw;
      margin: 40vw auto auto auto;
    }
  }
}

#services {
  background-color: var(--color4);
  text-align: center;
  padding-top: 80px;
}
.service-card {
  margin: 0 auto 50px auto;
  width: 300px;
  font-size: 1em;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
  height: 500px;
  text-align: justify;
    hyphens: auto;
}

#aboutus {
  display: flex;
  flex-direction: row;
}
@media(max-width: 768px){
  #aboutus {
    display: flex;
    flex-direction: column;
  }
.half {
    width: 100vw;
    img {
      width: 100vw;
        }
      }
      .right {
        padding: 80px 20px 40px 40px;
      }
    }

.half {
  width: 50vw;
  text-align: left;
  box-sizing: border-box;
  img {
    width: 50vw;
  }
}
.right {
  padding: 80px;
    line-height:130%;
    li::marker {
      color: var(--color3);
    }
}

#network {
  background-color: var(--color4);
  text-align: center;
  padding-top: 80px;
}

.network-card {
  margin: 0 auto 50px auto;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  img {
    width: 150px;
    margin: auto;
  }
}

#funding {
  background-color: var(--color2);
  text-align: center;
  padding-top: 80px;
}

.icon-card {
  display: flex;
  flex-direction: column;
  img {
    max-width:100px;
  }
  margin: 0 auto 20px auto;
  width: 250px;
  font-size: 1.5em;
}
.card-icon {
  margin: auto auto 10 auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  margin: 0 auto;
    flex-wrap: wrap;
}
@media(max-width: 610px){
  .card-container {
    display: flex;
    flex-direction: column;
  }
}

#contact {
  background-color: var(--color4);
  text-align: center;
  padding-top: 80px;
}

.contact-container {
  font-size: 1.3em;
  line-height: 1.3em;
}

footer {
  color: grey;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.data-protection {
  padding: 75px 10vw;
  text-align: justify;
}
